<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>empresas</key>
	<array>
		<dict>
			<key>nome</key>
			<string>Empresa Teste 0</string>
			<key>quantidadeFuncionarios</key>
			<string>0</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Empresa Teste 1</string>
			<key>quantidadeFuncionarios</key>
			<string>1</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Empresa Teste 2</string>
			<key>quantidadeFuncionarios</key>
			<string>2</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Empresa Teste 3</string>
			<key>quantidadeFuncionarios</key>
			<string>3</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Empresa Teste 4</string>
			<key>quantidadeFuncionarios</key>
			<string>4</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Empresa Teste 5</string>
			<key>quantidadeFuncionarios</key>
			<string>5</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Empresa Teste 6</string>
			<key>quantidadeFuncionarios</key>
			<string>6</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Empresa Teste 7</string>
			<key>quantidadeFuncionarios</key>
			<string>7</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Empresa Teste 8</string>
			<key>quantidadeFuncionarios</key>
			<string>8</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Empresa Teste 9</string>
			<key>quantidadeFuncionarios</key>
			<string>9</string>
		</dict>
	</array>
</dict>
</plist>
